{% extends 'base.html' %}
{% block title %}
    Product List
{% endblock title %}
{% block content %}
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Product List</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class=" wfull text-sm text-left text-gray-600">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Category</th>
                    <th scope="col" class="px-6 py-3">Selling Price</th>
                    <th scope="col" class="px-6 py-3">Quantity in Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="bg-white border-b hover:bg-gray-400">
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ product.name }}</td>
                        <td class="px-6 py-4">{{ product.category.name }}</td>
                        <td class="px-6 py-4">{{ product.selling_price }}</td>
                        <td class="px-6 py-4">{{ product.quantity }}</td>
                    </tr>
                {% empty %}
                    <tr class="bg-white border-b">
                        <td class="px-6 py-4 text-center" colspan="4">No products found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
